@import "../transitions";

.event-table {
  td {
    // Decrease cell padding to make the table more compact.
    padding-top: 1px !important;
    padding-bottom: 1px !important;
  }

  .col-star,
  .col-cursor,
  .col-check {
    width: 1em;
    max-width: 1em;
  }

  .col-timestamp {
    white-space: nowrap;
    width: 1%;
  }

  .col-address {
    white-space: nowrap;
  }

  .col-event-type {
    width: 1%;
  }

  .col-count {
    width: 1%;
  }

  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.card-body {
  .detail-table {
    td:first-child {
      padding-left: 1em;
    }

    td:last-child {
      padding-right: 1em;
    }

    tbody {
      th:first-child {
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }
}

.force-wrap {
  word-break: break-word !important;
  word-wrap: break-word !important;
  overflow: hidden !important;
  white-space: pre-wrap !important;
}

.event-detail-card a:link {
  text-decoration: none;
}
