//$line-height-lg: 1.25;
//$line-height-sm: 1.25;
//$line-height-base: 1.25;

//@import "~bootstrap/scss/bootstrap";

@import "~font-awesome/css/font-awesome.css";
@import "~toastr/build/toastr.css";
@import "~metrics-graphics/dist/metricsgraphics.css";

$navbar-height: 56;

body {
  padding-top: $navbar-height + px;
}

.evebox-loading-spinner {
  z-index: 100;
  font-size: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  margin-top: 150px;
  opacity: 0.8;
}

.raised-background {
  background-color: white;
  z-index: 1000;
}

.evebox-event-table {
  @extend .table;
  @extend .table-hover;

  // Make the cursor a pointer finger.
  cursor: pointer;

  /* Colour and border style for event tables. */
  $event-table-border: 1px solid $event-table-border-color;

  th {
    border-top: $event-table-border !important;
  }

  td:first-child, th:first-child {
    border-left: $event-table-border !important;
  }

  td:last-child, th:last-child {
    border-right: $event-table-border !important;
  }

  tr:last-child {
    td {
      border-bottom: $event-table-border !important;
    }
  }

  // Reduce the padding between rows.
  td {
    margin: 0px;
    padding: 3px 3px 0px 3px; // Top, right, bottom, left.
  }

  // Remove any padding or margin from labels within the table.
  label {
    margin: 0px;
    padding: 0px;
  }
}
