@import "~font-awesome/css/font-awesome.css";

/* Colour and border style for event tables. */
$event-table-border-color: #ddd;
$event-table-border: 1px solid $event-table-border-color;

body {

  // Top padding required for the fixed navbar.
  padding-top: 50px;

}

.evebox-opacity-50 {
  opacity: 0.5;
}

.content {
  margin-top: 20px;
}

.evebox-loading-spinner {
  z-index: 100;
  font-size: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  margin-top: 150px;
  opacity: 0.8;
}

.evebox-help-table-shortcut {
  font-family: monospace;
}

.evebox-help-table {
  td:nth-child(1) {
    text-align: right;
  }
}

.evebox-event-table {

  cursor: pointer;

  // Compact the row height a little.
  td {
    padding-bottom: 0px !important;
  }

  // Also required to shrink the height of a row a little.
  label {
    padding: 0 !important;
    margin: 0 !important;
  }

}