// Custom colors by Anne-Fleur.
$evebox-warning-color: #3d5f5f;
$evebox-info-color: #50656f;
$evebox-danger-color: #72383e;

// Override some Bootstrap colors.
$warning: $evebox-warning-color;
$info: $evebox-info-color;
$danger: $evebox-danger-color;

// Colors from Bootswatch Slate theme.
@import "bootswatch-slate";

// Disable bootstrap smooth scroll. It messes with keyboard shortcut scolling.
$enable-smooth-scroll: false;

// Finally import bootstrap.
@import "~bootstrap/scss/bootstrap";

// Set the border colour around event tables to a dark gray provided by the slate theme.
$event-table-border-color: $gray-800;
@import "common";

// Dark navbar.
.navbar {
  @extend .navbar-dark;
  @extend .bg-dark;
  background-color: $gray-800 !important;
}

// Class that applies theme appropriate background colors.
.bg-theme {
  @extend .bg-dark;
}

.table {
  &-secondary {
    &,
    > th,
    > td {
      background-color: $primary;
    }
  }
}

.alert-danger {
  background-color: $danger;
}


// The idea here is to darken up the "white" text and backgrounds a little,
// to be a bit more like the slate theme from Bootswatch for Bootstrap 3.

input,
select {
  background-color: $gray-300 !important;
}

body,
tr {
  color: $gray-300 !important;
}

button {
  color: $gray-200 !important;
}

.evebox-event-table {
  tr.evebox-danger {
    @extend .table-danger;
  }

  tr.evebox-warning {
    @extend .table-warning;
  }

  tr.evebox-info {
    @extend .table-info;
  }

  tr.evebox-success {
    background-color: $gray-800;
  }
}

.evebox-bg-danger {
  @extend .bg-danger;
}

.evebox-bg-warning {
  @extend .bg-warning;
}

.evebox-bg-info {
  @extend .bg-info;
}

.evebox-bg-success {
  @extend .bg-success;
  background-color: transparentize($success, 0.8) !important;
}

.rule {
  .rule-header-action {
    font-weight: bold;
  }

  .rule-header-proto {
    font-weight: bold;
    font-style: italic;
  }

  .rule-header-addr {
  }

  .rule-header-port {
  }

  .rule-keyword {
    color: dodgerblue;
    font-weight: bold;
  }

  .rule-keyword-value {
    color: lawngreen;
  }
}

