// Custom colors by Anne-Fleur.
$evebox-warning-color: #3d5f5f;
$evebox-info-color: #50656f;
$evebox-danger-color: #72383e;

// Override some Bootstrap colors.
$warning: $evebox-warning-color;
$info: $evebox-info-color;
$danger: $evebox-danger-color;

// Colors from Bootswatch Slate theme.
@import "src/styles/bootswatch-slate";

// Disable bootstrap smooth scroll. It messes with keyboard shortcut scrolling.
$enable-smooth-scroll: false;

// Finally import bootstrap.
@import "node_modules/bootstrap/scss/bootstrap";

// Set the border colour around event tables to a dark gray provided by the slate theme.
$event-table-border-color: $gray-800;

// Styles for pretty-print-json with overrides.
@import "pretty-print-json/dist/css/pretty-print-json.dark-mode.css";
.json-container {
  background-color: inherit !important;
}

@import "src/styles/common";

.help-tab {
  border-left: 1px solid $gray-800;
  border-right: 1px solid $gray-800;
  border-bottom: 1px solid $gray-800;
  padding: 5px;
}

// Dark navbar.
.navbar {
  @extend .navbar-dark;
  @extend .bg-dark;
  background-color: $gray-800 !important;
}

// Class that applies theme appropriate background colors.
.bg-theme {
  @extend .bg-dark;
}

// Background colors for event rows based on alert severity.
.evebox-row-info {
  @extend .table-info;
}

.evebox-row-warning {
  @extend .table-warning;
}

.evebox-row-danger {
  @extend .table-danger;
}

.evebox-row-success {
 @extend .table-primary;
}

.rule {
  .rule-header-action {
    font-weight: bold;
  }

  .rule-header-proto {
    font-weight: bold;
    font-style: italic;
  }

  .rule-header-addr {
  }

  .rule-header-port {
  }

  .rule-keyword {
    color: dodgerblue;
    font-weight: bold;
  }

  .rule-keyword-value {
    color: lawngreen;
  }
}
