//@import "~bootswatch/slate/bootstrap.css";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootswatch/slate/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootswatch/slate/bootswatch";

@import "./common.scss";

.form-control {

  // Darken up form-control backgrounds a little.
  background-color: lightgray;

  // Fix height to match default theme.
  height: 34px;
}

// Darken up the text on default buttons.
.btn-default {
  color: lightgray;
}

hr {

  // By default its too dark in slate.
  border-color: dimgray;

}

.evebox-metrics-graphic {

  // Lighten up the font used in the metrics graphics.
  text {
    fill: white;
  }

  // Lighten up the color of the actual graph lines and area.
  .mg-line1-color {
    stroke: lightblue;
  }
  .mg-area1-color {
    fill: lightblue;
    opacity: 1;
  }

}

pre {
  // Lighten the background of pre tags in dark mode. Stuff like the packet
  // and payload displays have to bright of a background without it.
  background-color: lightgray;
}

// Apply Bootstrap colouring to event tables.
// Unlike the default theme, we only color the first column.
.evebox-event-table > tbody > tr.evebox-danger > td:first-child {
  @extend .danger;
}

.evebox-event-table > tbody > tr.evebox-warning > td:first-child {
  @extend .warning;
}

.evebox-event-table > tbody > tr.evebox-info > td:first-child {
  @extend .info;
}

.evebox-event-table > tbody > tr.evebox-success > td:first-child {
  @extend .success;
}

.evebox-event-table > tbody > tr > td:not(:first-child) {
  @extend .active;
}

// Dims the colouring a bit.
.evebox-event-table tr td:first-child {
  opacity: 0.6;
}

.evebox-event-table > tbody > tr > td:first-child {
  color: black;
}

// Shrink up the default button sizes a little to match the default Bootstrap
// theme.
.btn {
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 7px;
  padding-left: 12px;
}

.fa-star {
  color: yellow;
}