$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootswatch/slate/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootswatch/slate/bootswatch";

@import "./common.scss";

.form-control {

  // Darken up form-control backgrounds a little.
  background-color: lightgray;

  // Fix height to match default theme.
  height: 34px;
}

// Darken up the text on default buttons.
.btn-default {
  color: lightgray;
}

hr {

  // By default its too dark in slate.
  border-color: dimgray;

}

.ace_content {

  // This is the same colour as the gutter.
  //background-color: #f0f0f0;

  // Match the background color of form controls.
  background-color: lightgray;
}

.evebox-metrics-graphic {

  // Lighten up the font used in the metrics graphics.
  text {
    fill: white;
  }

  // Lighten up the color of the actual graph lines and area.
  .mg-line1-color {
    stroke: lightblue;
  }

  .mg-area1-color {
    fill: lightblue;
    opacity: 1;
  }

}

pre {
  // Lighten the background of pre tags in dark mode. Stuff like the packet
  // and payload displays have to bright of a background without it.
  background-color: lightgray;
}

$evebox-danger-color: #72383e;
$evebox-warning-color: #3d5f5f;
$evebox-info-color: #50656f;

// Apply Bootstrap colouring to event tables.
.evebox-event-table > tbody > tr.evebox-danger > td {
  background-color: $evebox-danger-color;
  font-weight: bold;
}

.evebox-event-table > tbody > tr.evebox-danger:hover > td {
  background-color: lighten($evebox-danger-color, 10%);
}

.evebox-event-table > tbody > tr.evebox-warning > td {
  background-color: $evebox-warning-color;
}

.evebox-event-table > tbody > tr.evebox-warning:hover > td {
  background-color: lighten($evebox-warning-color, 10%);
}

.evebox-event-table > tbody > tr.evebox-info > td {
  background-color: $evebox-info-color;
}

.evebox-event-table > tbody > tr.evebox-info:hover > td {
  background-color: lighten($evebox-info-color, 10%);
}

.evebox-event-table > tbody > tr.evebox-success > td {
  @extend .active;
}

.panel.panel-danger > .panel-heading {
  background-color: $evebox-danger-color;
}

.panel.panel-warning > .panel-heading {
  background-color: $evebox-warning-color;
}

.panel.panel-info > .panel-heading {
  background-color: $evebox-info-color;
}

.panel.panel-success > .panel-heading {
  background-color: #49515a;
}

// Shrink up the default button sizes a little to match the default Bootstrap
// theme.
.btn {
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 7px;
  padding-left: 12px;

  height: 34px;
}

.fa-star {
  color: yellow;
}