$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import "./common.scss";

.raised-background {
  background-color: white;
  z-index: 1000;
}

table.table.evebox-event-table {

  th {
    border-top: $event-table-border !important;
  }

  td:first-child, th:first-child {
    border-left: $event-table-border !important;
  }

  td:last-child, th:last-child {
    border-right: $event-table-border !important;
  }

  tr:last-child {
    td {
      border-bottom: $event-table-border !important;
    }
  }

}

// Apply Bootstrap colouring to event tables.
.evebox-event-table > tbody > tr.evebox-danger > td {
  @extend .danger;
}

.evebox-event-table > tbody > tr.evebox-warning > td {
  @extend .warning;
}

.evebox-event-table > tbody > tr.evebox-info > td {
  @extend .info;
}

.evebox-event-table > tbody > tr.evebox-success > td {
  @extend .success;
}

// When using bootstrap-sass, the size of buttons isn't quite right. Fix.
.btn {
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 7px;
  padding-left: 13px;

  height: 34px;
}

.tab-content .tab-pane {
  border: 1px solid lightgray;
  border-top: 0;
}