$enable-smooth-scroll: false;

@import "bootstrap/scss/bootstrap";
@import "pretty-print-json/dist/css/pretty-print-json.css";
@import "src/styles/common";

.help-tab {
  border-left: 1px solid $gray-200;
  border-right: 1px solid $gray-200;
  border-bottom: 1px solid $gray-200;
  padding: 5px;
}

.bg-theme {
}

// Light navbar.
.navbar {
  @extend .navbar-light;
  @extend .bg-light;
}

// Class that applies theme appropriate background colors.
.bg-theme {
  @extend .bg-light;
}

// Background colors for event rows based on alert severity.
.evebox-row-info {
  @extend .table-info;
  background-color: transparentize($info, 0.8) !important;
}

.evebox-row-warning {
  @extend .table-warning;
  background-color: transparentize($warning, 0.8) !important;
}

.evebox-row-danger {
  @extend .table-danger;
  background-color: transparentize($danger, 0.8) !important;
}

.evebox-row-success {
  @extend .table-success;
  background-color: transparentize($success, 0.8) !important;
}

.rule {
  .rule-header-action {
    font-weight: bold;
  }

  .rule-header-proto {
    font-weight: bold;
    font-style: italic;
  }

  .rule-header-addr {
    color: dimgrey;
  }

  .rule-header-port {
    color: slategrey;
  }

  .rule-header-direction {
    font-weight: bold;
  }

  .rule-keyword {
    color: blue;
    font-weight: bold;
  }

  .rule-keyword-value {
    color: green;
  }
}

.light {
  .event-detail-card a:link,
  .event-detail-card a:visited {
    color: #2e3236;
  }
}
