$event-table-border-color: #ddd;

@import "~bootstrap/scss/bootstrap";

@import "common";

.evebox-top-navbar {
  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .navbar-light;
  @extend .bg-light;
  @extend .fixed-top;
}

.evebox-event-table {
  tr.evebox-danger {
    @extend .table-danger;
  }

  tr.evebox-warning {
    @extend .table-warning;
  }

  tr.evebox-info {
    @extend .table-info;
  }

  tr.evebox-success {
    @extend .table-success;
  }
}

.evebox-bg-danger {
  @extend .bg-danger;
  background-color: transparentize($danger, 0.5) !important;
}

.evebox-bg-warning {
  @extend .bg-warning;
  background-color: transparentize($warning, 0.5) !important;
}

.evebox-bg-info {
  @extend .bg-info;
  background-color: transparentize($info, 0.5) !important;
}

.evebox-bg-success {
  @extend .bg-success;
  background-color: transparentize($success, 0.5) !important;
}
