$event-table-border-color: #ddd;

@import "~bootstrap/scss/bootstrap";

@import "common";

// Light navbar.
.navbar {
  @extend .navbar-light;
  @extend .bg-light;
}

.evebox-bg-danger {
  @extend .bg-danger;
  background-color: transparentize($danger, 0.8) !important;
}

.evebox-bg-warning {
  @extend .bg-warning;
  background-color: transparentize($warning, 0.8) !important;
}

.evebox-bg-info {
  @extend .bg-info;
  background-color: transparentize($info, 0.8) !important;
}

.evebox-bg-success {
  @extend .bg-success;
  background-color: transparentize($success, 0.8) !important;
}

.rule {
  .rule-header-action {
    font-weight: bold;
  }

  .rule-header-proto {
    font-weight: bold;
    font-style: italic;
  }

  .rule-header-addr {
    color: dimgrey;
  }

  .rule-header-port {
    color: slategrey;
  }

  .rule-header-direction {
    font-weight: bold;
  }

  .rule-keyword {
    color: blue;
    font-weight: bold;
  }

  .rule-keyword-value {
    color: green;
  }
}
.bg-theme {
  @extend .bg-light;
}