// Custom colors by Anne-Fleur.
$evebox-warning-color: #3d5f5f;
$evebox-info-color: #50656f;
$evebox-danger-color: #72383e;

// Override some Bootstrap colors.
$warning: $evebox-warning-color;
$info: $evebox-info-color;
$danger: $evebox-danger-color;

// Bootswatch/Slate changes this from the default size. So set the Bootstrap
// default size first.
$font-size-base:              1rem;

@import "!~bootswatch/dist/slate/variables";

// Restore the bootstrap default button padding.
$input-btn-padding-y: .375rem;
$input-btn-padding-x: .75rem;

@import "~bootstrap/scss/bootstrap";
@import "!~bootswatch/dist/slate/bootswatch";

// Bootswatch/Slate fixup: The border around disabled buttons was different
//   than on enabled buttons. Make it consistent.
.btn, .btn:disabled {
  border: 1px $gray-600 solid;
}

// Set the border colour around event tables to a dark gray provided by the slate theme.
$event-table-border-color: $gray-800;

@import "common";

// The idea here is to darken up the "white" text and backgrounds a little,
// to be a bit more like the slate theme from Bootswatch for Bootstrap 3.

input, select {
  background-color: $gray-300 !important;
}

body, tr {
  color: $gray-300 !important;
}

button {
  color: $gray-200 !important;
}

// The dark theme navbar styling.
.evebox-top-navbar {
  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .navbar-dark;
  @extend .bg-primary;
  @extend .fixed-top;

  // Remove the borders that Bootswatch/Slate puts between the
  // nav-links and brand.
  .nav-link {
    border-left: 0px !important;
    border-right: 0px !important;
  }
  .navbar-brand {
    border: 0px !important;
  }
}

.evebox-event-table {
  tr.evebox-danger {
    @extend .table-danger;
  }

  tr.evebox-warning {
    @extend .table-warning;
  }

  tr.evebox-info {
    @extend .table-info;
  }

  tr.evebox-success {
    background-color: $gray-800;
  }
}

// Styles for the Metrics Graphics in dark mode.
.evebox-metrics-graphic {

  // Lighten up the font used in the metrics graphics.
  text {
    fill: white;
  }

  // Lighten up the color of the actual graph lines and area.
  .mg-line1-color {
    stroke: lightblue;
  }

  .mg-area1-color {
    fill: lightblue;
    opacity: 1;
  }

}

.evebox-bg-danger {
  @extend .bg-danger;
}

.evebox-bg-warning {
  @extend .bg-warning;
}

.evebox-bg-info {
  @extend .bg-info;
}

.evebox-bg-success {
  @extend .bg-success;
  background-color: transparentize($success, 0.8) !important;
}

.rule {
  .rule-header-action {
    font-weight: bold;
  }

  .rule-header-proto {
    font-weight: bold;
    font-style: italic;
  }

  .rule-header-addr {
  }

  .rule-header-port {
  }

  .rule-keyword {
    color: dodgerblue;
    font-weight: bold;
  }

  .rule-keyword-value {
    color: lawngreen;
  }
}

.bg-theme {
  @extend .bg-dark;
}