<div class="table-responsive" style="overflow: inherit !important;">

  <table class="table table-condensed table-hover evebox-event-table"
         eveboxKeyTable [rows]="rows" [(activeRow)]="activeRow"
         (activeRowChange)="activeRowChange.emit($event)">

    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>#</th>
      <th>Timestamp</th>
      <th>Source/Dest</th>
      <th width="50%">Signature</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let row of rows; let i = index"
        [ngClass]="row.event.event | eventSeverityToBootstrapClass:'evebox-'"
        (click)="rowClicked.emit(row)">
      <td style="width: 1% !important;">
        <span *ngIf="i == activeRow"
              class="glyphicon glyphicon-chevron-right"></span>
      </td>
      <td class="clearfix" style="width: 1% !important;">
        <input type="checkbox" [(ngModel)]="row.selected"
               (click)="$event.stopPropagation()">
      </td>
      <td (click)="$event.stopPropagation(); toggleEscalation.emit(row)"
          style="width: 1% !important;">
        <i *ngIf="row.event.escalatedCount == 0"
           class="fa fa-star-o"></i>
        <i *ngIf="row.event.escalatedCount == row.event.count"
           class="fa fa-star"></i>
        <i *ngIf="row.event.escalatedCount > 0 &&  row.event.escalatedCount != row.event.count"
           class="fa fa-star-half-o"></i>
      </td>
      <td style="width: 1% !important;">{{row.event.count}}</td>
      <td class="text-nowrap" style="width: 1%;">
        {{row.date | eveboxFormatTimestamp}}
        <br/>
        <evebox-duration style="color:gray"
                         [timestamp]="row.event.newestTs"></evebox-duration>
      </td>
      <td class="text-nowrap" style="width: 1% !important">
        <label>S:</label>
        {{row.event.event._source.src_ip | eveboxFormatIpAddress}}
        <br/>
        <label>D:</label>
        {{row.event.event._source.dest_ip | eveboxFormatIpAddress}}
      </td>
      <td>
        <div *ngIf="!isArchived(row)" class="btn-group pull-right"
             (click)="$event.stopPropagation()">
          <button type="button"
                  class="btn btn-default"
                  (click)="archiveEvent.emit(row); $event.stopPropagation()">
            Archive
          </button>
          <button type="button" class="btn btn-default"
                  title="Escalate and Archive"
                  (click)="$event.stopPropagation(); escalateAndArchiveEvent.emit(row);">
            <!-- This is supposed to be a star with an archive box overlaid,
               the idea behing to escalate and archive the event. -->
            <i class="fa fa-star-o fa-lg"></i>
            <i class="fa fa-archive"
               style="position: absolute; left: 50%; top: 40%"></i>
          </button>
          <button type="button" id="dropdown-{{i}}"
                  class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><span
              class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0);"
                   (click)="selectBySignatureId(row)">1. Select
              all with SID: {{row.event.event._source.alert.signature_id}}</a>
            </li>
            <li><a href="javascript:void(0)" (click)="filterBySignatureId(row)">2.
              Filter
              on SID: {{row.event.event._source.alert.signature_id}}</a></li>
            <li><a [routerLink]="['/reports/ip', {ip: row.event.event._source.src_ip}]">
              Source IP report for {{row.event.event._source.src_ip}}
            </a></li>
            <li><a [routerLink]="['/reports/ip', {ip: row.event.event._source.dest_ip}]">
              Destination IP report for {{row.event.event._source.dest_ip}}
            </a></li>
          </ul>
        </div>
        <span *ngIf="row.event.event._source.alert.action != 'allowed'"
              class="label label-warning">{{row.event.event._source.alert.action
          | uppercase}}</span>
        <span
            [innerHTML]="row.event.event | eveboxEventDescriptionPrinter"></span>
      </td>
    </tr>
    </tbody>

  </table>

</div>