/* Created by ng init. */

@import "~font-awesome/css/font-awesome.css";
@import "~toastr/build/toastr.css";
@import "~metrics-graphics/dist/metricsgraphics.css";

.dark {
  @import "~pretty-print-json/dist/pretty-print-json.dark-mode.css";

  // Custom colors by Anne-Fleur.
  $evebox-warning-color: #3d5f5f;
  $evebox-info-color: #50656f;
  $evebox-danger-color: #72383e;

  // Override some Bootstrap colors.
  $warning: $evebox-warning-color;
  $info: $evebox-info-color;
  $danger: $evebox-danger-color;

  // Colors from Bootswatch Slate theme.

  $white: #fff !default;
  $gray-100: #f8f9fa !default;
  $gray-200: #e9ecef !default;
  $gray-300: #dee2e6 !default;
  $gray-400: #ced4da !default;
  $gray-500: #999 !default;
  $gray-600: #7a8288 !default;
  $gray-700: #52575c !default;
  $gray-800: #3a3f44 !default;
  $gray-900: #272b30 !default;
  $black: #000 !default;
  $blue: #007bff !default;
  $indigo: #6610f2 !default;
  $purple: #6f42c1 !default;
  $pink: #e83e8c !default;
  $red: #ee5f5b !default;
  $orange: #fd7e14 !default;
  $yellow: #f89406 !default;
  $green: #62c462 !default;
  $teal: #20c997 !default;
  $cyan: #5bc0de !default;
  $primary: $gray-800 !default;
  $secondary: $gray-600 !default;
  $success: $green !default;
  $info: $cyan !default;
  $warning: $yellow !default;
  $danger: $red !default;
  $light: $gray-200 !default;
  $dark: $gray-900 !default;
  $yiq-contrasted-threshold: 170 !default;
  $body-bg: $gray-900 !default;
  $body-color: #aaa !default;
  $link-color: $white !default;
  $table-color: $white !default;
  $table-accent-bg: rgba($white, 0.05) !default;
  $table-hover-bg: rgba($white, 0.075) !default;
  $table-border-color: rgba($black, 0.6) !default;
  $table-dark-border-color: $table-border-color !default;
  $table-dark-color: $white !default;
  $input-disabled-bg: #ccc !default;
  $dropdown-bg: $gray-800 !default;
  $dropdown-border-color: rgba($black, 0.6) !default;
  $dropdown-divider-bg: rgba($black, 0.15) !default;
  $dropdown-link-color: $body-color !default;
  $dropdown-link-hover-color: $white !default;
  $dropdown-link-hover-bg: $body-bg !default;
  $dropdown-link-active-color: $dropdown-link-hover-color !default;
  $dropdown-link-active-bg: $dropdown-link-hover-bg !default;
  $nav-tabs-border-color: rgba($black, 0.6) !default;
  $nav-tabs-link-hover-border-color: $nav-tabs-border-color !default;
  $nav-tabs-link-active-color: $white !default;
  $nav-tabs-link-active-border-color: $nav-tabs-border-color !default;
  $navbar-dark-hover-color: $white !default;
  $navbar-light-hover-color: $gray-800 !default;
  $navbar-light-active-color: $gray-800 !default;
  $pagination-color: $white !default;
  $pagination-bg: transparent !default;
  $pagination-border-color: rgba($black, 0.6) !default;
  $pagination-hover-color: $white !default;
  $pagination-hover-bg: transparent !default;
  $pagination-hover-border-color: rgba($black, 0.6) !default;
  $pagination-active-bg: transparent !default;
  $pagination-active-border-color: rgba($black, 0.6) !default;
  $pagination-disabled-bg: transparent !default;
  $pagination-disabled-border-color: rgba($black, 0.6) !default;
  $jumbotron-bg: darken($gray-900, 5%) !default;
  $card-border-color: rgba($black, 0.6) !default;
  $card-cap-bg: lighten($gray-800, 10%) !default;
  $card-bg: lighten($body-bg, 5%) !default;
  $popover-bg: lighten($body-bg, 5%) !default;
  $toast-background-color: lighten($body-bg, 5%) !default;
  $toast-border-color: rgba(0, 0, 0, 0.2) !default;
  $toast-header-color: $body-color !default;
  $toast-header-background-color: $toast-background-color !default;
  $toast-header-border-color: $toast-border-color !default;
  $modal-content-bg: lighten($body-bg, 5%) !default;
  $modal-header-border-color: rgba(0, 0, 0, 0.2) !default;
  $progress-bg: darken($gray-900, 5%) !default;
  $progress-bar-color: $gray-600 !default;
  $list-group-bg: lighten($body-bg, 5%) !default;
  $list-group-border-color: rgba($black, 0.6) !default;
  $list-group-hover-bg: lighten($body-bg, 10%) !default;
  $list-group-active-color: $white !default;
  $list-group-active-bg: $list-group-hover-bg !default;
  $list-group-active-border-color: $list-group-border-color !default;
  $list-group-disabled-color: $gray-700 !default;
  $list-group-action-color: $white !default;
  $breadcrumb-active-color: $gray-500 !default;
  $pre-color: inherit !default;

  // END

  @import "~bootstrap/scss/bootstrap";

  // Set the border colour around event tables to a dark gray provided by the slate theme.
  $event-table-border-color: $gray-800;

  .table {
    &-secondary {
      &,
      > th,
      > td {
        background-color: $primary;
      }
    }
  }

  .alert-danger {
    background-color: $danger;
  }

  @import "styles/common";

  // The idea here is to darken up the "white" text and backgrounds a little,
  // to be a bit more like the slate theme from Bootswatch for Bootstrap 3.

  input,
  select {
    background-color: $gray-300 !important;
  }

  body,
  tr {
    color: $gray-300 !important;
  }

  button {
    color: $gray-200 !important;
  }

  // Dark navbar.
  .navbar {
    @extend .navbar-dark;
    @extend .bg-dark;
    background-color: $gray-800 !important;
  }

  .evebox-event-table {
    tr.evebox-danger {
      @extend .table-danger;
    }

    tr.evebox-warning {
      @extend .table-warning;
    }

    tr.evebox-info {
      @extend .table-info;
    }

    tr.evebox-success {
      background-color: $gray-800;
    }
  }

  // Styles for the Metrics Graphics in dark mode.
  .evebox-metrics-graphic {
    // Lighten up the font used in the metrics graphics.
    text {
      fill: white;
    }

    // Lighten up the color of the actual graph lines and area.
    .mg-line1-color {
      stroke: lightblue;
    }

    .mg-area1-color {
      fill: lightblue;
      opacity: 1;
    }
  }

  .evebox-bg-danger {
    @extend .bg-danger;
  }

  .evebox-bg-warning {
    @extend .bg-warning;
  }

  .evebox-bg-info {
    @extend .bg-info;
  }

  .evebox-bg-success {
    @extend .bg-success;
    background-color: transparentize($success, 0.8) !important;
  }

  .rule {
    .rule-header-action {
      font-weight: bold;
    }

    .rule-header-proto {
      font-weight: bold;
      font-style: italic;
    }

    .rule-header-addr {
    }

    .rule-header-port {
    }

    .rule-keyword {
      color: dodgerblue;
      font-weight: bold;
    }

    .rule-keyword-value {
      color: lawngreen;
    }
  }

  .bg-theme {
    @extend .bg-dark;
  }
}

.light {
  $event-table-border-color: #ddd;

  @import "~bootstrap/scss/bootstrap";
  @import "~pretty-print-json/dist/pretty-print-json.css";


  @import "styles/common";

  // Light navbar.
  .navbar {
    @extend .navbar-light;
    @extend .bg-light;
  }

  .evebox-bg-danger {
    @extend .bg-danger;
    background-color: transparentize($danger, 0.8) !important;
  }

  .evebox-bg-warning {
    @extend .bg-warning;
    background-color: transparentize($warning, 0.8) !important;
  }

  .evebox-bg-info {
    @extend .bg-info;
    background-color: transparentize($info, 0.8) !important;
  }

  .evebox-bg-success {
    @extend .bg-success;
    background-color: transparentize($success, 0.8) !important;
  }

  .rule {
    .rule-header-action {
      font-weight: bold;
    }

    .rule-header-proto {
      font-weight: bold;
      font-style: italic;
    }

    .rule-header-addr {
      color: dimgrey;
    }

    .rule-header-port {
      color: slategrey;
    }

    .rule-header-direction {
      font-weight: bold;
    }

    .rule-keyword {
      color: blue;
      font-weight: bold;
    }

    .rule-keyword-value {
      color: green;
    }
  }
  .bg-theme {
    @extend .bg-light;
  }
}