dl {
  margin: 0px;
  padding: 0px;
}

dt {
  margin: 0px;
  padding: 0px;
  margin-right: 20px;
  text-align: right;
}

dd {
  margin: 0px;
  padding: 0px;
}

.info-table td {
  border: 0px;
}

.app-no-border {
  td {
    border: 0px;
  }
}

.info-table tr td:first-child {
  font-weight: bold;
}

.card-header {
  .btn {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 0.7rem;
  }
}