.info-table td {
  border: 0px;
}

.app-no-border {
  td {
    border: 0px;
  }
}

.info-table {
  tbody {
    th {
      white-space: nowrap;
      border-bottom: 0;
    }
  }
}

.card-header {
  .btn {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 0.7rem;
  }
}
