<div class="modal fade" tabindex="-1" role="dialog" id="about-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        EveBox v???
      </div>
      <div class="modal-body">
        On GitHub: https://github.com/jasonish/evebox
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">EveBox</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{active: vm.$state.current.name == 'inbox'}"><a
            ng-click="vm.gotoState('inbox')">Inbox</a></li>
        <li ng-class="{active: vm.$state.current.name == 'escalated'}"><a
            ng-click="vm.gotoState('escalated')">Escalated</a></li>
        <li ng-class="{active: vm.$state.current.name == 'alerts'}"><a
            ng-click="vm.gotoState('alerts')">Alerts</a></li>
        <li ng-class="{active: vm.$state.current.name == 'events'}"><a
            ng-click="vm.gotoState('events')">Events</a></li>

        <!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
             role="button" aria-haspopup="true" aria-expanded="false">Dropdown
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="settings">Settings</a></li>
        <li><a href="javascript:void(0);" ng-click="vm.showHelp()">Help</a></li>
        <li>
          <a href=""><span
              class="badge">{{vm.EventRepository.queueLength()}}</span></a>
        </li>
      </ul>

      <form class="navbar-form navbar-right">
        <select ng-disabled="!vm.TopNavService.timeRangeEnabled"
                class="form-control" ng-model="vm.TopNavService.timeRange"
                ng-change="vm.onTimeRangeChange()"
        >
          <option value="1h">Last hour</option>
          <option value="3h">Last 3 hours</option>
          <option value="6h">Last 6 hours</option>
          <option value="12h">Last 12 hours</option>
          <option value="24h">Last 24 hours</option>
          <option value="3d">Last 3 days</option>
          <option value="7d">Last week</option>
          <option value="">All</option>
        </select>
      </form>

      <!--
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
             role="button" aria-haspopup="true" aria-expanded="false">Dropdown
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
      -->
    </div>
  </div>
</nav>