[Unit]
Description=EveBox

[Service]
ExecStart=/usr/bin/evebox $ELASTICSEARCH_URL $CONFIG $EVEBOX_OPTS
EnvironmentFile=-/etc/sysconfig/evebox

[Install]
WantedBy=multi-user.target
