[Unit]
Description=EveBox Server

[Service]
User=evebox
Group=evebox
ExecStart=/usr/bin/evebox server $ELASTICSEARCH_URL $CONFIG $EVEBOX_OPTS
EnvironmentFile=-/etc/sysconfig/evebox

[Install]
WantedBy=multi-user.target
