<nav id="evebox-topnav" class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/inbox']">EveBox</a>
        <button
            class="navbar-toggler"
            type="button"
            (click)="isMenuCollapsed = !isMenuCollapsed"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="#/inbox"
                        [routerLink]="['/inbox']"
                        [routerLinkActive]="['active']"
                        queryParamsHandling="merge"
                        >Inbox</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="#/escalated"
                        [routerLink]="['/escalated']"
                        [routerLinkActive]="['active']"
                        queryParamsHandling="merge"
                        >Escalated</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="#/alerts"
                        [routerLink]="['/alerts']"
                        [routerLinkActive]="['active']"
                        queryParamsHandling="merge"
                        >Alerts</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        [routerLink]="['/stats']"
                        [routerLinkActive]="['active']"
                        queryParamsHandling="merge"
                        >Stats</a
                    >
                </li>
                <li
                    class="nav-item"
                    style="
                        margin-right: 0 !important;
                        padding-right: 0 !important;
                    "
                >
                    <a
                        class="nav-link"
                        style="padding-right: 0"
                        [routerLink]="['/events']"
                        [routerLinkActive]="['active']"
                        queryParamsHandling="merge"
                        >Events</a
                    >
                </li>
                <li
                    class="nav-item"
                    ngbDropdown
                    style="
                        margin-left: 0 !important;
                        padding-left: 0 !important;
                    "
                >
                    <a
                        class="nav-link"
                        [routerLink]=""
                        role="button"
                        style="padding-left: 4px"
                        ngbDropdownToggle
                        [routerLinkActive]="['active']"
                    ></a>
                    <ul
                        ngbDropdownMenu
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdown"
                    >
                        <li *ngFor="let eventType of EVENT_TYPES">
                            <a
                                class="dropdown-item"
                                [routerLink]="[
                                    '/events',
                                    { eventType: eventType.eventType }
                                ]"
                                queryParamsHandling="merge"
                                >{{ eventType.name }}</a
                            >
                        </li>
                    </ul>
                </li>
                <li *ngIf="features['reporting']" class="nav-item" ngbDropdown>
                    <a
                        class="nav-link"
                        [routerLink]=""
                        role="button"
                        ngbDropdownToggle
                        [ngClass]="{ active: reportsActive }"
                    >
                        Reports
                    </a>
                    <ul ngbDropdownMenu class="dropdown-menu">
                        <li *ngFor="let report of reports">
                            <a
                                class="dropdown-item"
                                [routerLink]="[report.route]"
                                queryParamsHandling="merge"
                                >{{ report.name }}</a
                            >
                        </li>
                    </ul>
                </li>
            </ul>

            <form name="dateSelectorForm" class="form-inline my-2 my-lg-0">
                <select
                    *ngIf="!appService.isTimeRangeDisabled()"
                    class="form-select"
                    id="timeRangeSelector"
                    [ngModel]="topNavService.timeRange"
                    name="timeRange"
                    (change)="timeRangeChanged($event)"
                >
                    <option value="1m">Last minute</option>
                    <option value="1h">Last hour</option>
                    <option value="3h">Last 3 hours</option>
                    <option value="6h">Last 6 hours</option>
                    <option value="12h">Last 12 hours</option>
                    <option value="24h">Last 24 hours</option>
                    <option value="3d">Last 3 days</option>
                    <option value="7d">Last week</option>
                    <option value="">All</option>
                </select>
            </form>

            <ul class="navbar-nav">
                <li
                    *ngIf="client.reloadRequired"
                    class="nav-item justify-content-start"
                >
                    <button
                        class="btn btn-outline-danger btn-sm mt-1"
                        (click)="reload()"
                    >
                        Reload Required
                    </button>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink=""
                        (click)="showHelp(); $event.preventDefault()"
                        >Help</a
                    >
                </li>
                <li class="nav-item" ngbDropdown>
                    <a
                        class="nav-link"
                        [routerLink]=""
                        role="button"
                        ngbDropdownToggle
                        aria-expanded="false"
                    >
                        <i class="fa fa-gear"></i>
                    </a>
                    <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
                        <li class="dropdown-item" routerLink="/settings">
                            Settings
                        </li>
                        <li class="dropdown-divider"></li>
                        <li
                            class="dropdown-item"
                            routerLink=""
                            (click)="logout()"
                        >
                            Logout
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- TODO Using button here as it looks better than a badge. -->
            <button
                type="button"
                class="btn btn-secondary"
                style="min-width: 40px !important"
            >
                {{ elasticSearchService.jobCount$ | async }}
            </button>
        </div>
    </div>
</nav>
