<loading-spinner [loading]="loading"></loading-spinner>

<div [@loadingState]="!rows || (!silentRefresh && loading) ? 'true' : 'false'">

  <!-- Fixes the button/search bar in place, and hides the page as it scrolls
       underneath. -->
  <div class="row">
    <div class="col-md">
      <button type="button" class="btn btn-secondary" (click)="refresh()">
        Refresh
      </button>
      <button *ngIf="rows && rows.length > 0 && !allSelected()"
              type="button"
              class="btn btn-secondary"
              (click)="selectAllRows()">Select All
      </button>
      <button *ngIf="rows && rows.length > 0 && allSelected()" type="button"
              class="btn btn-secondary"
              (click)="deselectAllRows()">Deselect All
      </button>
      <button *ngIf="rows && rows.length > 0 && getSelectedCount() > 0"
              type="button"
              class="btn btn-secondary"
              (click)="archiveSelected()">Archive
      </button>
      <button *ngIf="rows && rows.length > 0 && getSelectedCount() > 0"
              type="button"
              class="btn btn-secondary"
              (click)="escalateSelected()">Escalate
      </button>
    </div>
    <div class="col-md">
      <form (submit)="submitFilter()">
        <div class="input-group">
          <input id="filter-input"
                 type="text"
                 class="form-control"
                 placeholder="Filter..."
                 [(ngModel)]="queryString"
                 name="queryString"/>
          <div class="input-group-btn">
            <button class="btn btn-secondary" type="submit">Apply
            </button>
            <button type="button"
                    class="btn btn-secondary"
                    (click)="clearFilter()">Clear
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="rows && rows.length == 0" style="text-align: center;">
  <hr/>
  No events found.
  <hr/>
</div>

<br/>

<div class="row align-items-center" *ngIf="rows.length > 0">
  <div class="col-sm">
    Showing {{offset + 1}}-{{offset + rows.length}} of {{allRows.length}}.
  </div>
  <div class="col-sm">
    <div class="btn-group float-right" role="group">
      <button [disabled]="offset == 0"
              type="button"
              class="btn btn-secondary" (click)="newest()">Newest
      </button>
      <button [disabled]="offset == 0"
              type="button"
              class="btn btn-secondary" (click)="newer()">Newer
      </button>
      <button [disabled]="rows.length == allRows.length || offset + windowSize >= allRows.length"
              type="button"
              class="btn btn-secondary" (click)="older()">Older
      </button>
      <button [disabled]="rows.length == allRows.length || offset + windowSize >= allRows.length"
              type="button"
              class="btn btn-secondary" (click)="oldest()">Oldest
      </button>
        <button type="button"
                class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="javascript:void(0)" (click)="showAll()">View All</a>
        </div>
    </div>
  </div>
</div>

<br/>

<evebox-alert-table
    *ngIf="rows && rows.length > 0"
    (rowClicked)="rowClicked($event)"
    (toggleEscalation)="toggleEscalatedState($event)"
    (archiveEvent)="archiveAlertGroup($event)"
    (escalateAndArchiveEvent)="escalateAndArchiveEvent($event)"
    [(activeRow)]="activeRow"
    [rows]="rows"></evebox-alert-table>

<br/>