<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({.tmp,app}) styles/app.css -->
  <link rel="stylesheet" href="styles/app.css">
  <!-- endbuild -->
</head>

<body ng-app="app">

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser.
  Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve
  your experience.</p>
<![endif]-->

<div ng-controller="NavBarController"
     class="navbar navbar-default"
     role="navigation">

  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="">EveBox
        <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="" data-toggle="modal" data-target="#aboutModal">About</a>
        </li>
      </ul>
    </div>

    <div id="navbar-collapse-1" class="collapse navbar-collapse">

      <ul class="nav navbar-nav">
        <li ng-class="{active: $routeParams.view == 'inbox'}"><a href="#/inbox">Inbox</a>
        </li>
        <li ng-class="{active: $routeParams.view == 'starred'}"><a
          href="#/starred">Starred</a>
        </li>
        <li ng-class="{active: $routeParams.view == 'events'}"><a
          href="#/events">Events</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="" ng-click="openHelp()">Help</a>

        </li>
        <li>
          <a href="" ng-click="openConfig()">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div ng-include="'views/about.html'"></div>

<div ng-view=""></div>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/mousetrap/mousetrap.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script src="config.js"></script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/services.js"></script>
<script src="scripts/directives.js"></script>
<script src="scripts/controllers.js"></script>
<!-- endbuild -->

</body>
</html>

