<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- inject:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/metrics-graphics/dist/metricsgraphics.css">
  <!-- endinject -->
  <link rel="stylesheet" href="styles/app.css">
</head>

<body ng-app="app">

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser.
  Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve
  your experience.</p>
<![endif]-->

<div ng-controller="NavBarController"
     class="navbar navbar-default"
     role="navigation">

  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="">EveBox
        <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="" data-toggle="modal" data-target="#aboutModal">About</a>
        </li>
      </ul>
    </div>

    <div id="navbar-collapse-1" class="collapse navbar-collapse">

      <ul class="nav navbar-nav">
        <li ng-class="{active: $location.path().startsWith('/inbox')}">
          <a href="#/inbox">Inbox</a>
        </li>
        <li ng-class="{active: $location.path().startsWith('/starred')}"><a
            href="#/starred">Starred</a>
        </li>
        <li ng-class="{active: $location.path().startsWith('/alerts')}"><a
            href="#/alerts">Alerts</a></li>

        <li ng-class="{active: $location.path().startsWith('/events')}">
          <a href="" class="dropdown-toggle"
             id="other-menu-dropdown-toggle"
             data-toggle="dropdown">Other <span
              class="caret"></span></a>
          <ul id="other-menu-dropdown" class="dropdown-menu" role="menu">
            <li><a href="#/events">All</a></li>
            <li><a href="#/events?q=%2bevent_type:http">HTTP</a></li>
            <li><a href="#/events?q=%2bevent_type:dns">DNS</a></li>
          </ul>
        </li>

        <li ng-class="{active: $location.path().startsWith('/stats')}">
          <a href="#/stats">Stats</a>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="" ng-click="openHelp()">Help</a>
        </li>
        <li>
          <a href="" ng-click="openConfig()">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<evebox-notification-message id="evebox-notification-message">
  <div ng-if="NotificationService.queue.length > 0">
    <div ng-cloak class="label-{{message.level}}"
         ng-repeat="message in NotificationService.queue track by $index">
      {{message.message}}
    </div>
  </div>
</evebox-notification-message>

<div ng-include="'templates/about.html'"></div>

<div ng-view=""></div>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- inject:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/mousetrap/mousetrap.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/metrics-graphics/dist/metricsgraphics.js"></script>
<!-- endinject -->

<script src="config.js"></script>

<!-- app:js -->
<script src="scripts/app.js"></script>
<script src="scripts/controller.alerts.js"></script>
<script src="scripts/controller.config.js"></script>
<script src="scripts/controller.event-detail.js"></script>
<script src="scripts/controller.event.js"></script>
<script src="scripts/controller.events.js"></script>
<script src="scripts/controller.stats.js"></script>
<script src="scripts/controllers.js"></script>
<script src="scripts/directive.duration.js"></script>
<script src="scripts/directive.evebox-pager.js"></script>
<script src="scripts/directive.event-table.js"></script>
<script src="scripts/directives.js"></script>
<script src="scripts/filters.js"></script>
<script src="scripts/service.config.js"></script>
<script src="scripts/service.eventrepository.js"></script>
<script src="scripts/service.mousetrap.js"></script>
<script src="scripts/services.js"></script>
<!-- endinject -->

</body>
</html>
