[Unit]
Description=EveBox Agent

[Service]
Environment=EVEBOX_DATA_DIRECTORY=/var/lib/evebox
EnvironmentFile=-/etc/sysconf/evebox-agent
ExecStart=/usr/bin/evebox agent

[Install]
WantedBy=multi-user.target
