<div class="container-fluid">

  <div ng-include="'templates/search-form.html'"
       ng-controller="SearchController"></div>

  <br/>

  <div ng-if="loading == true">
    <div class="progress progress-striped active">
      <div class="progress-bar progress-bar-info" role="progressbar"
           aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
           style="width: 100%">
        <span class="sr-only">Searching</span>
      </div>
    </div>
  </div>

  <div ng-if="rows.length == 0">
    <div class="alert alert-warning text-center">No events found.</div>
  </div>

  <div ng-if="response">

    <div class="row">
      <div class="col-md-6">

        <button id="refreshButton" type="button"
                class="btn btn-default btn-sm"
                ng-click="refresh()">Refresh
        </button>

      </div>

      <div class="col-md-6">

        <div style="float: right">
          <label>
            {{ (querySize * (page - 1)) + 1 }} to
            {{ (querySize * (page - 1)) + response.hits.hits.length }} of
            {{ response.hits.total }} events
          </label>

          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default"
                    ng-disabled="page == 1" ng-click="gotoPage('first')">
              &lt;&lt;</button>
            <button type="button" class="btn btn-default"
                    ng-disabled="page == 1" ng-click="gotoPage('prev')">
              &lt;</button>
            <button type="button" class="btn btn-default"
                    ng-click="gotoPage('next')">&gt;</button>
            <button type="button" class="btn btn-default"
                    ng-click="gotoPage('last')">&gt;&gt;</button>
          </div>
        </div>
      </div>
    </div>

    <br/>

    <table class="table table-responsive event-table"
           key-table
           key-table-rows="rows"
           key-table-active-row-index="$parent.activeRowIndex">
      <tbody ng-repeat="row in rows" class="row-index-{{$index}}">
      <tr class="clickable" ng-class="row.trClass">
        <td><span ng-show="$index == activeRowIndex"
                  class="glyphicon glyphicon-chevron-right"></span></td>
        <td ng-click="toggleOpenEvent(row)"
            ng-style="columnStyles['timestamp']">{{row.timestamp}}
        </td>
        <td ng-click="toggleOpenEvent(row)">{{row.event_type}}</td>
        <td ng-click="toggleOpenEvent(row)">
          <dl class="dl-horizontal">
            <dt>Source:</dt>
            <dd>{{row.src_ip}}</dd>
            <dt>Dest:</dt>
            <dd>{{row.dest_ip}}</dd>
          </dl>
        </td>
        <td ng-click="toggleOpenEvent(row)" ng-style="columnStyles['message']">
          {{row.message}}
        </td>
      </tr>
      <tr ng-class="row.trClass">
        <td colspan="5">
          <div ng-if="row.__open" ng-include="'views/detail.html'"
               ng-init="hit = row.source" ng-controller="EventDetailController"></div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

</div>