[Unit]
Description=EveBox Server

[Service]
ExecStart=/usr/bin/evebox $ELASTICSEARCH_URL $CONFIG $EVEBOX_OPTS
EnvironmentFile=-/etc/default/evebox

[Install]
WantedBy=multi-user.target
