<div class="row">
  <div class="col-md-12">
    <div class="btn-group btn-group-sm" auto-blur
         style="vertical-align: middle;">
      <button id="refreshButton" type="button"
              class="btn btn-default btn-sm"
              ng-click="refresh()">Refresh
      </button>
      <button ng-disabled="resultsModel.rows.length == 0"
              type="button"
              class="btn btn-default"
              ng-click="selectAll()">Select All
      </button>
      <button ng-disabled="resultsModel.rows.length == 0"
              type="button"
              class="btn btn-default"
              ng-click="deselectAll()">
        Deselect All
      </button>
      <button ng-show="$routeParams.view == 'inbox'" type="button"
              class="btn btn-default"
              ng-disabled="selectedCount() == 0"
              ng-click="archiveSelected()">Archive
      </button>
      <button type="button"
              class="btn btn-default"
              ng-disabled="selectedCount() == 0"
              ng-click="deleteSelected()">Delete
      </button>
    </div>

    <div class="btn-group btn-group-sm">
      <button type="button"
              class="btn btn-default dropdown-toggle keyboard"
              data-toggle="dropdown">
        More <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li ng-show="$routeParams.view == 'inbox'">
          <a href="" ng-click="archiveByQuery()">Archive
            All in Query</a>
        </li>
        <li><a href="" ng-click="deleteByQuery()">Delete All in Query</a>
        </li>
      </ul>
    </div>

    <div style="float: right;">
      <evebox-pager ng-if="loading == false && hits.total > 0"
                    evebox-pager-size="sm"
                    evebox-pager-page="searchModel.page"
                    evebox-pager-rows="hits.hits"
                    evebox-pager-query-size="Config.elasticSearch.size"
                    evebox-pager-total="hits.total"
                    evebox-pager-change-page="gotoPage"></evebox-pager>
      <div ng-if="loading == false && hits.total == 0">
        <label class="label label-warning">No events found.</label>
      </div>
      <div ng-if="loading == true">
        Loading...
      </div>
    </div>

  </div>
</div>

<br/>

<table class="table table-responsive event-table"
       ng-class="{loading: state == 'loading'}"
       key-table
       key-table-rows="resultsModel.rows"
       key-table-active-row-index="resultsModel.activeRowIndex">
  <tbody id="{{hit._id}}" ng-repeat="hit in hits.hits"
         class="row-index-{{$index}}">
  <tr class="hit-row"
      ng-class="Util.severityToBootstrapClass(hit._source.alert.severity)">
    <td>
            <span ng-show="$index == resultsModel.activeRowIndex"
                  class="glyphicon glyphicon-chevron-right"></span>
    </td>
    <td><input tabindex="-1"
               type="checkbox"
               id="checkbox-{{hit._id}}"
               ng-model="hit.__selected"
               ng-checked="hit.__selected" auto-blur/>
    </td>
    <td>
            <span ng-show="hit._source.tags.indexOf('starred') == -1"
                  ng-click="toggleStar(hit)"
                  class="glyphicon glyphicon-star-empty"></span>
            <span ng-show="hit._source.tags.indexOf('starred') > -1"
                  ng-click="toggleStar(hit)"
                  class="glyphicon glyphicon-star"></span>
    </td>
    <td ng-click="toggleOpenEvent(hit)" style="white-space: nowrap;">
      {{::moment(hit._source["@timestamp"]).format("YYYY-MM-DD HH:mm:ss")}}
      <br/>
      <small style="color: #808080;"><duration timestamp="hit._source['@timestamp']"></duration></small>
    </td>
    <td ng-click="toggleOpenEvent(hit)" class="nowrap">
      <label>S:</label>
      {{::Util.printIpAddress(hit._source.src_ip)}}<span ng-if="hit._source.src_port > 0" style="color: #808080;">:{{hit._source.src_port}}</span>
      <br/>
      <label>D:</label>
      {{::Util.printIpAddress(hit._source.dest_ip)}}<span ng-if="hit._source.src_port > 0" style="color: #808080;">:{{hit._source.dest_port}}</span>
    </td>
    <td ng-click="toggleOpenEvent(hit)">
      {{hit._source.alert.signature}}
      <small style="color: #808080;">[{{hit._source.alert.category}}]</small>
    </td>
    <!--<td ng-click="toggleOpenEvent(hit)">{{hit._source.proto}}</td>-->
    <!--<td ng-click="toggleOpenEvent(hit)">-->
    <!--{{::Util.printIpAddress(hit._source.src_ip)}}-->
    <!--</td>-->
    <!--<td ng-click="toggleOpenEvent(hit)">-->
    <!--{{::Util.printIpAddress(hit._source.dest_ip)}}-->
    <!--</td>-->
  </tr>
  <tr ng-class="severityToBootstrapClass(hit._source.alert.severity)"
      class="hit-detail"
      ng-show="hit.__open">
    <td colspan="3"></td>
    <td colspan="5">
      <div ng-if="hit.__open" ng-include="'templates/detail.html'"
           ng-controller="EventDetailController"></div>
    </td>
  </tr>
  </tbody>
</table>
