<div ng-controller="AggregatedAlertsController">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group" auto-blur style="vertical-align: middle;">
        <button id="refreshButton" type="button" class="btn btn-default btn-sm"
                ng-click="refresh()">Refresh
        </button>
        <button ng-disabled="resultsModel.rows.length == 0" id="selectAllButton"
                type="button"
                class="btn btn-default btn-sm"
                ng-click="selectAll()">Select All
        </button>
        <button ng-disabled="resultsModel.rows.length == 0"
                id="deselectAllButton"
                type="button"
                class="btn btn-default btn-sm"
                ng-click="deselectAll()">
          Deselect All
        </button>
        <button ng-show="$routeParams.view == 'inbox'" type="button"
                class="btn btn-default btn-sm"
                ng-disabled="selectedCount() == 0"
                ng-click="archiveSelected()">Archive
        </button>
        <button type="button"
                class="btn btn-default btn-sm"
                ng-disabled="selectedCount() == 0"
                ng-click="deleteSelected()">Delete
        </button>
      </div>

      <!-- More dropdown button. -->
      <div class="btn-group">
        <button type="button"
                class="btn btn-default btn-sm dropdown-toggle keyboard"
                data-toggle="dropdown">
          More <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li ng-show="$routeParams.view == 'inbox'">
            <a href="" ng-click="archiveByQuery()">Archive
              All in Query</a>
          </li>
          <li><a href="" ng-click="deleteByQuery()">Delete All in Query</a>
          </li>
        </ul>
      </div>

      <div style="float: right">
        <div ng-show="resultsModel.rows.length == 0">
          <label class="label label-warning">No events found.</label>
        </div>
        <div ng-show="resultsModel.rows.length > 0">
          <label>Found {{totalEventCount()}} event{{totalEventCount() > 1 ? "s"
            : ""}} in {{aggregations.length}}
            group{{aggregations.length > 1 ? "s" : ""}}.</label>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-12">
    <table ng-show="aggregations.length > 0"
           class="table table-responsive event-table"
           key-table
           key-table-rows="resultsModel.rows"
           key-table-active-row-index="resultsModel.activeRowIndex">
      <thead>
      <th></th>
      <th></th>
      <th><a href="" ng-click="changeSortBy('count')">#<span
        ng-show="searchModel.sortBy == 'count'"
        ng-class="{'caret': searchModel.sortByOrder == 'desc', 'caret-up': searchModel.sortByOrder == 'asc'}"
        ></span></a>
      </th>
      <th><a href="" ng-click="changeSortBy('message')">Message<span
        ng-show="searchModel.sortBy == 'message'"
        ng-class="{'caret': searchModel.sortByOrder == 'desc', 'caret-up': searchModel.sortByOrder == 'asc'}"
        ></span></a></th>
      <th ng-show="aggregations[0].src_ip"><a href=""
                                              ng-click="changeSortBy('src_ip')">Source<span
        ng-show="searchModel.sortBy == 'src_ip'"
        ng-class="{'caret': searchModel.sortByOrder == 'desc', 'caret-up': searchModel.sortByOrder == 'asc'}"
        ></span></a></th>
      <th colspan="3"><a href="" ng-click="changeSortBy('last')">Last<span
        ng-show="searchModel.sortBy == 'last'"
        ng-class="{'caret': searchModel.sortByOrder == 'desc', 'caret-up': searchModel.sortByOrder == 'asc'}"></span></a>
      </th>
      </thead>
      <tbody ng-repeat="row in aggregations">
      <tr class="clickable hit-row"
          ng-class="Util.severityToBootstrapClass(row.severity)">
        <td><span ng-show="$index == resultsModel.activeRowIndex"
                  class="glyphicon glyphicon-chevron-right"></span></td>
        <td>
          <input type="checkbox" ng-model="row.__selected" auto-blur/>
        </td>
        <td ng-click="openAggregation(row)"><strong>{{row.count}}</strong></td>
        <td ng-click="openAggregation(row)">{{row.signature}}</td>
        <td ng-show="row.src_ip">{{Util.printIpAddress(row.src_ip)}}</td>
        <td ng-click="openAggregation(row)">
          {{moment(row.last_timestamp).format("YYYY-MM-DD HH:mm:ss")}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>