<div id="errorMessage" class="label-danger">
  {{ errorMessage }}
</div>

<div class="container-fluid" style="padding-left: 5%; padding-right: 5%;">

  <form ng-submit="onSearchFormSubmit()" id="search-form">
    <div class="form-group">
      <div class="input-group">
        <input id="query-input" type="text" class="form-control"
               ng-model="userQuery"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
      </div>
    </div>
    <div class="form-group form-inline">
      <label tooltip="Server Side Aggregation">Aggregate by:</label>
      <select id="aggregate-by-input" class="form-control input-sm"
              ng-model="aggregateBy"
              ng-change="onSearchFormSubmit()">
        <option value="">-</option>
        <option value="signature">Signature</option>
        <option value="signature+src">Signature+Source</option>
      </select>
    </div>
  </form>

  <br/>

  <div class="results" ng-if="response.aggregations"
       ng-include="'templates/aggregate-alerts.html'"></div>
  <div class="results" ng-if="response.aggregations == undefined">
    <section ng-include="'templates/flat-alerts.html'"></section>
  </div>

</div>
