<div class="container-fluid">

  <form ng-submit="vm.submitSearchForm()" id="search-form">

    <div class="form-group">
      <div class="input-group">
        <input id="search-form-input" type="text" class="form-control"
               ng-model="vm.$routeParams.q"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
      </div>
    </div>

  </form>

  <br/>

  <div class="row">
    <div class="col-md-12" ng-class="{dim: vm.loading == true}">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"
                ng-click="vm.refresh()">
          Refresh
        </button>
        <button ng-if="vm.events && vm.events.length > 0"
                type="button" class="btn btn-default"
                ng-click="vm.selectAll()">
          Select All
        </button>
        <button ng-if="vm.events && vm.events.length > 0"
                type="button" class="btn btn-default"
                ng-click="vm.deselectAll()">
          Deselect All
        </button>
        <button ng-if="vm.events && vm.events.length > 0"
                type="button" class="btn btn-default"
                ng-click="vm.archiveSelected()">
          Archive
        </button>
        <button ng-if="vm.events && vm.events.length > 0"
                type="button" class="btn btn-default"
                ng-click="vm.deleteSelected()">
          Delete
        </button>
      </div>

      <div ng-if="vm.$routeParams.view == 'flat' && vm.events.length > 0" evebox-pager
           style="float: right;"
           current-page="vm.$routeParams.page"
           page-size="100"
           total-items="vm.result.total"
           items="vm.events"
           on-page-change="vm.gotoPage"></div>
      <div ng-if="vm.$routeParams.view != 'flat' && vm.events.length > 0"
           style="display: inline-block !important; float: right;">
        <label>{{vm.result.total}} events in {{vm.events.length}} groups</label>
      </div>
      <div style="float: right;" ng-if="vm.events.length == 0">
        <div class="label label-info">No events found.</div>
      </div>

    </div>
  </div>

  <br/>

  <div ng-if="vm.events && vm.events.length > 0"
       ng-class="{dim: vm.loading}">

    <ul class="nav nav-tabs">
      <li role="presentation"
          ng-class="{active: vm.$routeParams.view == 'flat'}">
        <a ng-click="vm.gotoView('flat');">Alerts</a></li>
      <li role="presentation"
          ng-class="{active: vm.$routeParams.view == 'signature'}">
        <a ng-click="vm.gotoView('signature');">By
          Signature</a></li>
      <li role="presentation"
          ng-class="{active: vm.$routeParams.view == 'signature+src'}">
        <a ng-click="vm.gotoView('signature+src');">By
          Signature/Source</a></li>
    </ul>

    <ng-include src="'templates/event-table.html'"
        ng-init="vm.showEventType=false; vm.isSelectable=true;"></ng-include>

  </div>
</div>