<div class="panel panel-default event-detail-panel">

  <div class="panel-heading">
    Event

    <div class="event-action-buttons" style="float: right;">
      <button ng-if="hit._source.tags.indexOf('inbox') > -1"
              ng-click="archiveEvent(hit)"
              class="btn btn-default btn-xs">Archive
      </button>
      <button ng-if="hit._source.alert" ng-click="deleteEvent(hit)"
              class="btn btn-default btn-xs">Delete
      </button>
      <button type="button" class="btn btn-default btn-xs"
              ng-if="hit._source.alert"
              ng-click="toggleStar(hit)">
        <span ng-show="hit._source.tags.indexOf('starred') == -1">Star</span>
        <span ng-show="hit._source.tags.indexOf('starred') >= 0">Unstar</span>
      </button>

      <div class="btn-group">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                data-toggle="dropdown" id="event-detail-more-button">
          More <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
          <li><a href="#/event/{{hit._id}}" target="_blank">Open in New
            Window</a></li>
          <li><a href="#/events?q={{vm.buildSearchByFlowUrl(hit)}}">Query
            Events in Flow</a></li>
          <li ng-if="Config.dumpy.url">
            <a href="" ng-click="sendToDumpy(hit)">Send to Dumpy</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="panel-body">

    <div class="row">

      <div class="col-md-6">

        <dl class="dl-horizontal">
          <dt>Timestamp</dt>
          <dd>{{hit._source["@timestamp"] | formatTimestamp}}</dd>

          <div ng-switch="hit._source.event_type">

            <!-- Alert. -->
            <div ng-switch-when="alert">
              <dt>Signature:</dt>
              <dd><a
                href="#/events?q=+alert.signature.raw:&quot;{{hit._source.alert.signature}}&quot;">{{hit._source.alert.signature}}</a>
              </dd>
              <dt>Category:</dt>
              <dd>
                <a
                  href="#/events?q=alert.category.raw:&quot;{{hit._source.alert.category}}&quot;">{{hit._source.alert.category}}</a>
              </dd>
              <dt>Singature ID:</dt>
              <dd>
                {{hit._source.alert.gid}}:{{hit._source.alert.signature_id}}:{{hit._source.alert.rev}}
              </dd>
              <dt>Severity:</dt>
              <dd>{{hit._source.alert.severity}}</dd>
            </div>

            <!-- DNS. -->
            <div ng-switch-when="dns">
              <dt>Type:</dt>
              <dd>{{hit._source.dns.type}}</dd>
              <dt>ID:</dt>
              <dd><a
                href="#/events?q=+dns.id:{{hit._source.dns.id}} +{{hit._source.src_ip}} +{{hit._source.dest_ip}}">{{hit._source.dns.id}}</a>
              </dd>
              <dt>TTL:</dt>
              <dd>{{hit._source.dns.ttl}}</dd>
              <dt>RRType:</dt>
              <dd>{{hit._source.dns.rrtype}}</dd>
              <dt>RRName:</dt>
              <dd>{{hit._source.dns.rrname}}</dd>
              <dt>RData:</dt>
              <dd>{{hit._source.dns.rdata}}</dd>
            </div>

            <!-- TLS. -->
            <div ng-switch-when="tls">
              <dl ng-if="hit._source.event_type == 'tls'" class="dl-horizontal">
                <dt>Subject:</dt>
                <dd>{{hit._source.tls.subject}}</dd>
                <dt>Issuer DN:</dt>
                <dd>{{hit._source.tls.issuerdn}}</dd>
                <dt>Fingerprint:</dt>
                <dd>{{hit._source.tls.fingerprint}}</dd>
                <dt>Version:</dt>
                <dd>{{hit._source.tls.version}}</dd>
              </dl>
            </div>

            <div ng-switch-default>
              <div
                ng-repeat="(key, val) in _.omit(hit._source[hit._source.event_type], 'length')">
                <dt>{{key}}</dt>
                <dd class="force-wrap">{{val}}</dd>
              </div>
            </div>

          </div>
          <!-- div ng-switch -->

        </dl>

      </div>

      <div class="col-md-6">

        <dl class="dl-horizontal">

          <dt>Protocol</dt>
          <dd>{{hit._source.proto}}</dd>

          <dt>Source</dt>
          <dd>
            <evebox-ip-address address="hit._source.src_ip"
                               port="hit._source.src_port"/>
          </dd>

          <dt>Destination</dt>
          <dd>
            <evebox-ip-address address="hit._source.dest_ip"
                               port="hit._source.dest_port"/>
          </dd>

          <div ng-if="hit._source.flow_id">
            <dt>Flow ID</dt>
            <dd><a href="#/events?q={{vm.buildSearchByFlowUrl(hit)}}">{{hit._source.flow_id}}</a>
            </dd>
          </div>

          <div ng-if="hit._source.in_iface">
            <dt>Interface</dt>
            <dd>{{hit._source.in_iface}}</dd>
          </div>

          <div ng-if="hit._source.icmp_type">
            <dt>ICMP Type</dt>
            <dd>{{hit._source.icmp_type}}</dd>
          </div>

          <div ng-if="hit._source.icmp_code">
            <dt>ICMP Code</dt>
            <dd>{{hit._source.icmp_code}}</dd>
          </div>

        </dl>

        <dl class="dl-horizontal">

          <div>
            <dt>Source Hostname</dt>
            <div ng-switch="vm.srcHostname">
              <dd ng-switch-when="undefined" class="dim">Loading...</dd>
              <dd ng-switch-when="null" class="dim">not found</dd>
              <dd ng-switch-default><a
                href="#/events?q=&quot;{{vm.srcHostname}}&quot;">{{vm.srcHostname}}</a>
              </dd>
            </div>
          </div>

          <div>
            <dt>Destination Hostname</dt>
            <div ng-switch="vm.destHostname">
              <dd ng-switch-when="undefined" class="dim">Loading...</dd>
              <dd ng-switch-when="null" class="dim">not found</dd>
              <dd ng-switch-default><a
                href="#/events?q=&quot;{{vm.destHostname}}&quot;">{{vm.destHostname}}</a>
              </dd>
            </div>
          </div>

        </dl>

      </div>

    </div>

  </div>

</div>

<div ng-if="hit._source.http && (hit._source.event_type != 'http')"
     class="panel panel-default event-detail-panel">
  <div class="panel-heading">
    HTTP
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <div
        ng-repeat="(key, val) in _.omit(hit._source.http, 'length')">
        <dt>{{key}}</dt>
        <dd class="force-wrap">{{val}}</dd>
      </div>
    </dl>
  </div>
</div>

<div ng-if="hit._source.payload" class="panel panel-default event-detail-panel">
  <div class="panel-heading">
    Payload
  </div>
  <div class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
            <pre
              style="white-space: pre-wrap">{{b64ToHex(hit._source.payload)}}</pre>
        </div>
        <div class="col-md-6">
          <pre
            style="white-space: pre-wrap">{{b64ToText(hit._source.payload)}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="hit._source.packet" class="panel panel-default event-detail-panel">
  <div class="panel-heading">
    Packet
  </div>
  <div class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
            <pre
              style="white-space: pre-wrap">{{b64ToHex(hit._source.packet)}}</pre>
        </div>
        <div class="col-md-6">
            <pre
              style="white-space: pre-wrap">{{b64ToText(hit._source.packet)}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default event-detail-panel">
  <div class="panel-heading">
    JSON
  </div>
  <div class="panel-body">
    <pre class="colourized-json" style="white-space: pre-wrap;"
         ng-bind-html="Util.toJson(hit, true) | colourizeJson"></pre
  </div>
</div>
