<div ng-if="items.length > 0">
  {{ pageFirstItem }} to
  {{ pageLastItem }} of
  {{ totalItems }} events

  <div class="btn-group">
    <button type="button" class="btn btn-default"
            ng-disabled="currentPage == 1"
            ng-click="gotoPage('first')">
      First
    </button>
    <button type="button" class="btn btn-default"
            ng-disabled="currentPage == 1"
            ng-click="gotoPage('previous');">
      Previous
    </button>
    <button type="button" class="btn btn-default"
            ng-disabled="currentPage == lastPage"
            ng-click="gotoPage('next');">
      Next
    </button>
    <button type="button" class="btn btn-default"
            ng-disabled="currentPage == lastPage"
            ng-click="gotoPage('last');">
      Last
    </button>
  </div>
</div>

<div ng-if="items.length == 0">
  <div class="label label-info">No events found.</div>
</div>

