<!-- Template/view for an individual record. -->
<div class="container-fluid">

  <div ng-repeat="event in vm.hits.hits">

    <div class="alert" ng-class="event | eventTitleClass">
      <h3 style="padding: 0px; margin: 0px;">
        {{event | eventTitle}}
          <span style="float: right;"
                ng-show="event._source.tags.indexOf('starred') >= 0"
                class="glyphicon glyphicon-star"></span>
      </h3>
    </div>

    <div ng-include="'templates/detail.html'"
         ng-controller="EventDetailController as vm"></div>

  </div>

</div>