<div class="container-fluid">

  <form ng-submit="vm.submitSearchForm()" id="search-form">

    <div class="form-group">
      <div class="input-group">
        <input id="user-query-input" type="text" class="form-control"
               ng-model="vm.query"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
      </div>
    </div>

  </form>

  <br/>

  <div ng-class="{dim: vm.loading}" class="row" style="height: 30px;">
    <div class="col-md-6">

      <button id="refreshButton" type="button"
              class="btn btn-default btn-sm"
              ng-click="vm.refresh()">Refresh
      </button>

    </div>

    <div class="col-md-6">
      <div style="float: right">
        <div evebox-pager
             current-page="vm.page"
             page-size="100"
             total-items="vm.result.total"
             items="vm.result.events"
             on-page-change="vm.gotoPage"></div>
      </div>
    </div>
  </div>

  <br/>

  <div ng-if="vm.result.total == 0 && vm.loading == false">
    <div class="alert alert-warning text-center">No events found.</div>
  </div>

  <div ng-class="{dim: vm.loading}" ng-if="vm.events">
    <ng-include src="'templates/event-table.html'"
                ng-init="vm.showEventType=true; vm.isSelectable=false;"
                class="all-event-table"></ng-include>
  </div>


</div>