<!-- Event table template - shared by all views. -->

<table class="table evebox-event-table"
       event-table
       event-table-rows="vm.events"
       event-table-active-row-index="vm.activeRowIndex">

  <thead>

  <!-- Active event indicator. -->
  <th></th>

  <!-- Select checkbox. -->
  <th ng-if="vm.isSelectable"></th>

  <!-- Count - only if in grouped view. -->
  <th ng-if="vm.events[0].count">#</th>

  <!-- Star - only if in flat view. -->
  <th ng-if="!vm.events[0].count"></th>

  <th>Timestamp</th>
  <th ng-if="vm.showEventType">Type</th>
  <th>Source/Dest</th>
  <th>Description</th>
  </thead>

  <tbody ng-repeat="event in vm.events" class="event-archiving-fade"
         ng-class="{'event-archiving': event.archiving || event.deleting}">

  <tr ng-click="vm.open(event);"
      ng-class="event._source.alert.severity | severityClass">

    <td>
          <span ng-show="$index == vm.activeRowIndex"
                class="glyphicon glyphicon-chevron-right"></span>
    </td>

    <td ng-if="::vm.isSelectable" ng-click="$event.stopPropagation()">
      <input type="checkbox" ng-model="event.selected"/>
    </td>

    <td ng-if="event.count">
      {{::event.count}}
    </td>

    <td ng-click="$event.stopPropagation()" ng-if="!event.count">
      <span ng-if="::event._source.event_type == 'alert'">
          <span
              ng-show="!event._source.tags || event._source.tags.indexOf('starred') == -1"
              ng-click="vm.toggleStar(event)"
              class="glyphicon glyphicon-star-empty"></span>
          <span
              ng-click="vm.toggleStar(event)"
              ng-show="event._source.tags.indexOf('starred') > -1"
              class="glyphicon glyphicon-star"></span>
        </span>
    </td>

    <td class="nowrap">
      {{::event.timestamp | formatTimestamp}}
      <br/>
      <small class="text-muted">
        <duration timestamp="event.timestamp"/>
      </small>
    </td>

    <td ng-if="vm.showEventType">
      {{::event._source.event_type.toUpperCase()}}
    </td>

    <td class="nowrap">
      <label>S:</label>
      {{::event._source.src_ip | formatIpAddress}}<span
        ng-if="event._source.src_port > 0" style="color: #808080;">:{{::event._source.src_port}}</span>
      <br/>
      <label>D:</label>
      {{::event._source.dest_ip | formatIpAddress}}<span
        ng-if="event._source.dest_port > 0" style="color: #808080;">:{{::event._source.dest_port}}</span>
    </td>

    <td>
      <div style="position: relative;">
        <div ng-show="event.archiving"
             style="position: absolute; right: 5px; top: 5px;">
          <span class="label label-info">Archiving</span>
        </div>
        <div ng-show="event.deleting"
             style="position: absolute; right: 5px; top: 5px;">
          <span class="label label-info">Deleting</span>
        </div>
      </div>
      <span class="colourized-json" style="word-break: break-all;"
            ng-bind-html="::event | formatEventDescription"></span>
    </td>

  </tr>
  <tr ng-class="event._source.alert.severity | severityClass"
      ng-if="vm.openEventIndex == $index">
    <td colspan="7">
      <div ng-include="'templates/detail.html'"
           ng-controller="EventDetailController as vm"></div>
    </td>
  </tr>
  </tbody>
</table>
