<div style="padding: 10px;">

  <div class="header">
    <button ng-click="$dismiss()" type="button" class="close"
            data-dismiss="modal"
            aria-hidden="true">&times;</button>
    <h4 class="modal-title">Help</h4>
  </div>
  <div class="modal-body">

    <h4>Keyboard Shortcuts</h4>

    <div class="row">
      <div class="col-md-6">
        <table class="table table-bordered">
          <tr>
            <td style="text-align: right;">?</td>
            <td>Help</td>
          </tr>
          <tr>
            <td style="text-align: right;">g then i</td>
            <td>Go to Inbox</td>
          </tr>
          <tr>
            <td style="text-align: right;">g then s</td>
            <td>Go to Starred</td>
          </tr>
          <tr>
            <td style="text-align: right;">g then a</td>
            <td>Go to Alerts</td>
          </tr>
          <tr>
            <td style="text-align: right;">g then c</td>
            <td>Go to Config</td>
          </tr>
          <tr>
            <td style="text-align: right;">r</td>
            <td>Refresh</td>
          </tr>
          <tr>
            <td style="text-align: right;">/</td>
            <td>Search</td>
          </tr>
          <tr>
            <td style="text-align: right;">j</td>
            <td>Next Item</td>
          </tr>
          <tr>
            <td style="text-align: right;">p</td>
            <td>Previous Item</td>
          </tr>
          <tr>
            <td style="text-align: right;">x</td>
            <td>Select Item</td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table table-bordered">
          <tr>
            <td style="text-align: right;">shift+j</td>
            <td>Select Item and Move to Next</td>
          </tr>
          <tr>
            <td style="text-align: right;">shift+k</td>
            <td>Select Item and Move to Previous</td>
          </tr>
          <tr>
            <td style="text-align: right;">e</td>
            <td>Archive Selected Items</td>
          </tr>
          <tr>
            <td style="text-align: right;">#</td>
            <td>Delete Selected Items</td>
          </tr>
          <tr>
            <td style="text-align: right;">s</td>
            <td>Start Item</td>
          </tr>
          <tr>
            <td style="text-align: right;">o</td>
            <td>Open Item</td>
          </tr>
          <tr>
            <td style="text-align: right;">* then a</td>
            <td>Select All Items</td>
          </tr>
          <tr>
            <td style="text-align: right;">* then n</td>
            <td>Deselect All Items</td>
          </tr>
          <tr>
            <td style="text-align: right;">&gt;</td>
            <td>Previous Page</td>
          </tr>
          <tr>
            <td style="text-align: right;">&lt;</td>
            <td>Next Page</td>
          </tr>
          <tr>
            <td style="text-align: right;">G</td>
            <td>Go to Last Event on Page</td>
          </tr>
          <tr>
            <td style="text-align: right;">H</td>
            <td>Go to First Event on Page</td>
          </tr>
          <tr>
            <td style="text-align: right;">.</td>
            <td>Open "More" Menu</td>
          </tr>
        </table>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-default" ng-click="$dismiss()">Close</button>
  </div>

</div>