<div style="padding: 10px;">

  <div class="header">
    <button ng-click="$dismiss()" type="button" class="close"
            data-dismiss="modal"
            aria-hidden="true">&times;</button>
    <h4 class="modal-title">Help</h4>
  </div>
  <div class="modal-body">

    <h4>Keyboard Shortcuts</h4>

    <div class="row">

      <table class="table table-bordered help-table">
        <tr ng-repeat="key in vm.sortedKeys">
          <td>{{key}}</td>
          <td>{{vm.bindings[key].help}}</td>
        </tr>
      </table>

    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-default" ng-click="$dismiss()">Close</button>
  </div>

</div>