<div class="container-fluid">

  <form class="form-inline pull-right" role="form">

    <div class="form-group">

      <label>Duration:</label>
      <select class="form-control" ng-model="vm.duration">
        <option>5m</option>
        <option>15m</option>
        <option>1h</option>
        <option>3h</option>
        <option>6h</option>
        <option>12h</option>
        <option>24h</option>
      </select>

      <label>Interval</label>
      <select class="form-control" ng-model="vm.interval">
        <option>8s</option>
        <option>1m</option>
        <option>5m</option>
        <option>15m</option>
        <option>1h</option>
      </select>

      <button type="submit" class="btn btn-default" ng-click="vm.refresh()">
        Refresh
      </button>

    </div>

  </form>

  <br/>

  <div id="counts-container">
  </div>

</div>